<section class="download">
  <div class="download-container">

    <!-- LEFT -->
    <div class="download-left">
      <h1>Join the Fun – Download<br>MyBindle Now!</h1>
      <p class="subtitle">Your Social Network, Your Way</p>
      <p class="desc">Download MyBindle Now and Be a Part of a Community That's Always Evolving!</p>
      <div class="store-buttons">
        <button class="store">
          <i class="bi bi-apple store-icon"></i>
          <div><span>Download on the</span><h4>App Store</h4></div>
        </button>
        <button class="store">
          <i class="bi bi-google-play store-icon"></i>
          <div><span>Get it on</span><h4>Google Play</h4></div>
        </button>
      </div>
    </div>

    <!-- RIGHT -->
    <div class="download-right">
      <img src="assets/Groups.png" class="mobile back">
      <img src="assets/Body.png" class="mobile front">
    </div>

  </div>
</section>