<section class="download">

  <div class="download-container">

    <div class="download-left">

      <h1>
        Join the Fun – Download <br>
        MyBindle Now!
      </h1>
      <p class="subtitle">Your Social Network, Your Way</p>
      <p class="desc">
        Download MyBindle Now and Be a Part
        of a Community That's Always Evolving!
      </p>
      <div class="store-buttons">
        <button class="store">
          <img src="assets/apples.png.png">
          <div>
            <span>Download on the</span>
            <h4>App Store</h4>
          </div>
        </button>
        <button class="store">
          <img src="assets/google-playstore-icon (1).png">
          <div>
            <span>Get it on</span>
            <h4>Google Play</h4>
          </div>
        </button>
      </div>
    </div>

    <div class="download-right">
      <img src="assets/social_app_mockup.png" class="mobile">
    </div>
  </div>
</section>