<section class="hero">
  <div class="hero-container">

    <!-- LEFT CONTENT -->
    <div class="hero-left">
      <h1>
        Stay Connected <br>
        Stay Social <br>
        Stay You!
      </h1>
      <p>
        A place where friendships grow, communities thrive, and moments turn into 
        unforgettable experiences. Whether you're looking to reconnect with old 
        friends, build new relationships, or share what matters most to you – 
        MyBindle is your home on the internet.
      </p>
      <button class="hero-btn">Get Started</button>
    </div>

    <!-- RIGHT IMAGE -->
    <div class="hero-right">
      <img src="assets/Image placehlder 1.png" class="mobile">
    </div>

  </div>
</section>

<app-service></app-service>
<app-aboutus></app-aboutus>
<app-howitwork></app-howitwork>
<app-features></app-features>
<app-footer></app-footer>