/* HERO */

.hero{

    max-width:1920px;

    min-height:100vh;

    margin:auto;

    background:#ff4d43;

    position:relative;

    padding-left:8%;
    padding-right:8%;

    display:flex;

    align-items:center;

}

/* CONTAINER */

.hero-container{

    width:100%;

    display:flex;

    justify-content:space-between;

    align-items:center;

}

/* LEFT */

.hero-left{

    width:50%;

    max-width:650px;

}

.hero-left h1{

    font-size:clamp(28px,3.2vw,58px);

    line-height:1.1;

    margin-bottom:25px;

}

.hero-left p{

    font-size:clamp(15px,1.1vw,18px);

    line-height:1.7;

    margin-bottom:30px;

}

/* BUTTON */

.hero-btn{

    background:white;

    color:#ff4d43;

    border:none;

    padding:14px 34px;

    border-radius:30px;

    font-weight:600;

    cursor:pointer;

}

/* RIGHT */

.hero-right{

    width:50%;

    position:relative;

    display:flex;

    justify-content:flex-end;
    

}

/* IMAGE BASED ON FIGMA SIZE */

.mobile{

    width:26.5vw; /* 508 /1920 */

    max-width:509px;

    min-width:260px;

    height:auto;

    position:relative;

    top:clamp(40px,11vw,217px);

    filter:drop-shadow(0 30px 60px rgba(0,0,0,.35));

    opacity:1;

}

/* LARGE SCREENS */

@media (min-width:1600px){

.mobile{

width:27vw;

max-width:550px;

}

}

/* LAPTOP */

@media (max-width:1400px){

.mobile{

width:30vw;

top:120px;

}

}

/* TABLET */

@media (max-width:992px){

.hero{

min-height:auto;

padding-top:80px;

padding-bottom:40px;

}

.hero-container{

flex-direction:column;

text-align:center;

}

.hero-left{

width:100%;

}

.hero-right{

width:100%;

justify-content:center;

margin-top:40px;

}

.mobile{

width:320px;

top:0;

}

}

/* MOBILE */

@media (max-width:768px){

.mobile{

width:260px;

}

.hero-left h1{

font-size:32px;

}

}

/* SMALL MOBILE */

@media (max-width:480px){

.mobile{

width:210px;

}

.hero-btn{

width:100%;

max-width:260px;

}

}

/* VERY SMALL */

@media (max-width:360px){

.mobile{

width:170px;

}
}